.menu {
	z-index: 3;
	width: 20vw;
	height: 100vh;
	min-width: 250px;
	background: #000;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu img {
	width: 150px;
	height: 150px;
	border: 2px solid #037fff;
	border-radius: 50%;
	margin: 20px 0;
}

.menu .line{
	width: 100%;
	height: 1px;
	background: #ccc;
}

.menu nav {
	margin: 15px 0;
	text-align: center;
	width: 100%;
}

.menu nav ul li:nth-child(n + 2) {
	margin-top: 20px;
}

.menu nav ul li {
	list-style: none;
	cursor: pointer;
	font-size: 1.4em;
	text-transform: uppercase;
}


.menu nav ul li:hover {
	background: #037fff;
}

.menu .me {
  margin-top: auto;
  margin-bottom: 5px;
}