.web{
	width: 100vw;
}

.menu {
	position: fixed;
	z-index: 3;
	min-width: 22vw;
	height: 100vh;
	background: #000;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu img {
	width: 150px;
	height: 150px;
	border: 2px solid #037fff;
	border-radius: 50%;
	margin: 20px 0;
	cursor: pointer;
}

.menu .line{
	width: 100%;
	height: 1px;
	background: #ccc;
}

.menu nav {
	margin: 15px 0;
	text-align: center;
	width: 100%;
}

.menu nav .option:nth-child(n + 2) {
	margin-top: 12px;
}

.menu nav .option {
	position: relative;
	padding: 8px 0;
	z-index: 1;
	list-style: none;
	font-size: 1.4em;
	text-transform: uppercase;
}

.menu nav .option input {
	display: none;
}

.menu nav .option label {
	padding: 5px 25px;
	cursor: pointer;
	font-weight: 700;
}

.menu nav .option::before{
content: '';
position: absolute;
z-index: -1;
top:0;
left: 0;
width: 0;
height: 100%;
background: #037fff;
filter: brightness(0.2);
transition: .5s ease;
}

.menu nav .option:hover::before { width: 100% }

.menu .me {
  margin-top: auto;
  margin-bottom: 5px;
}

input[type=radio]:checked + label {
	color: #037fff;
}

/*RESPONSIVO*/

@media screen and (max-width: 1000px) {
	.menu, .web{
		display: none;
	}

}