@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, border-style, #root {
  min-height: 100%;
}

body, input, button {
  -webkit-font-smoothing: antialiased !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.8rem;
}

select:focus, input:focus, button:focus, textarea:focus { box-shadow: none !important; }

.select-color {
    color: #037fff;
}

.d-flex {
  display: flex !important;
}

.justify-around{
  justify-content: space-around !important;
}

.justify-center{
  justify-content: center !important;
}

.align-center{
  align-items: center !important;
}

.dinamic-space {
	display: flex;
	justify-content: space-between;
}

.content {
  z-index: 1;
  color: #fff;
  width: 100%;
  margin: 0 5%;
}

.page {
  position: relative;
  margin-left: 22vw;
  width: 80%;
  display: flex;
}

.title {
  margin-top: 5%;
}

.title span{
  font-size: 2em;
  font-weight: 700;
}

.layer {
  font-size: 1.5em;
}

.layer span{
  font-size: 2em;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.1);
}

.division{
  width: 50px;
  height: 2px;
  background: #ccc;
  margin: 7px 0;
}

/*RESPONSIVO*/

@media screen and (max-width: 1300px) {
    .page{
        margin-left: 0;
        width: 100%;
    }

    .lines{
      width: 100vw;
      margin: 0;
    }
}

@media screen and (max-width: 900px) {
    .layer{
      display: none;
    }
}

@media screen and (max-width: 445px) {
    .content{
      margin: 0 auto;
      padding: 5%;
    }

    .title span{
      font-size: 1.8em;
    }
}
