.about .description {
  max-width: 600px; 
  margin: 5% 0;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2em;
}

.about .description .description-title {
  color: #fff;
}

.about .description .description-text{
  margin-top: 20px;
}

.about .description .info{
  margin-top: 5%;
  max-width: 370px;
}

.services .s-items {
  margin: 5% 0;
  justify-content: space-around;
}

.services .s-items .s-item{
  width: 17em;
  height: 15em;
  background: #000;
  border-top: 4px solid #ccc;
  padding: 10px;
}

.services .s-items .s-item .division{
  width: 50px;
  height: 2px;
  background: #ccc;
  margin: 15px 0;
}
.services .s-items .s-item .item-icon{
  font-weight: 500;
  flex-direction: column;
}

.services .s-items .s-item .item-icon span{
  margin-top: 5%;
}

.services .s-items .s-item .item-description{
  color: rgba(255, 255, 255, 0.7);
}
