.about .description {
  max-width: 600px; 
  margin: 5% 0;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2em;
}

.about .description .description-title {
  color: #fff;
}

.about .description .description-text{
  margin-top: 20px;
}

.about .description .info{
  margin-top: 5%;
  max-width: 370px;
}

.about .description a button {
  margin-top: 8px;
}

.services .s-items {
  margin: 5% 0;
  max-width: 1500px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.services .s-items .s-item{
  width: 17em;
  height: 15em;
  background: #000;
  border-top: 4px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.services .s-items .s-item .item-icon{
  font-weight: 500;
  flex-direction: column;
}

.services .s-items .s-item .item-icon span{
  margin-top: 5%;
}

.services .s-items .s-item .item-description{
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 680px) {
  .about .description .info{
      display: none;
  }

  .services .s-items .s-item{
      width: 100%;
  }

  .services .s-items .s-item:last-child{
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1900px) {
  .services .s-items .s-item{
      width: 23em;
  }
}

@media screen and (max-width: 400px) {

  .about .description .description-title h2{
    display: none;
  }

  .about .description .description-text{
    margin-top: 0; 
  }

}


